# .NET
bin/
obj/

# Файлы IDE
vs/
*.user

# Локальные секреты
.env
appsettings.Development.json

# Времаенные файлы
temp/

# Картинки, загруженные через админ-панель
src/PracticeTL.Api/wwwroot/media/uploads/